.alert {
  position: absolute;
  left: 45%;
  top: 0;
  z-index: 99999;
}

.closebtn {
  margin-left: 15px;
  color: #000000;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
